<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body{% if page.no_background %} class="no-background"{% elsif page.background_image %} style="background-image: linear-gradient(rgba(249, 249, 246, 0.82), rgba(249, 249, 246, 0.7)), url('{{ page.background_image | relative_url }}'); background-size: 100% 100%; background-attachment: fixed;"{% endif %}>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
